[submodule "src/WebFS"]
	path = src/webfs
	url = git@github.com:penguinmenac3/WebFS.git
[submodule "src/webui"]
	path = src/webui
	url = git@github.com:penguinmenac3/WebUI.git
[submodule "src/mdedit"]
	path = src/mdedit
	url = git@github.com:penguinmenac3/mdedit-lib.git
[submodule "src/scratchpad"]
	path = src/scratchpad
	url = git@github.com:penguinmenac3/scratchpad-lib.git
