.editPage {
    width: 100%;
    height: 100%;
}

.editIFrame {
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px;
    width: 100%;
    height: 100%;
}

.editImageBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.editImageView {
    background-color: black;
}
