.search {
    width: 100%;
    height: 100%;
}

.searchInput {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-left: 2.1em;
    margin: 0.5em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base-2);
}

.searchResults {
    width: 100%;
    height: -webkit-fill-available;
    display: block;
    overflow-y: auto;
    text-align: center;
}

.searchNumResults {
    display: block;
    font-style: italic;
    height: 1em;
    padding: 0.2em;
}

.searchResult {
    display: block;
    text-align: left;
    padding: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--radius);
}

.searchResult:hover {
    background-color: var(--color-base-hover);
}

/* Search settings */
.settingsOpen {
    position: absolute;
    left: 0.8em;
    top: 0.8em;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: var(--radius);
    z-index: 1;
}

.settingsOpen:hover {
    background-color: var(--color-base-hover);
}

.settingsCheckbox {
    margin-top: 0.2em;
    padding-bottom: -0.2em;
    margin-bottom: 0.2em;
    display: block;
    height: 2em;
    align-items: center;
}

.settingsCheckbox input {
    width: 1.5em;
    height: 1.5em;
}

.upload label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.upload select,
.upload input {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}

.upload select:hover,
.upload input:hover {
    background-color: var(--color-base-hover);
}

.upload .fileInput {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-top: 4em;
    padding-bottom: 4em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}
.upload .fileInput:hover {
    background-color: var(--color-base-hover);
}

.upload .fileInput::file-selector-button {
    background-color: inherit;
    border: 0px solid;
    font-weight: bold;
}
