.searchInput {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-left: 2.1em;
    margin: 0.5em;
    border: 2px solid var(--font-color);
    border-radius: var(--radius);
    color: var(--font-color);
    background-color: var(--bg-color);
}

.searchResults {
    width: -webkit-fill-available;
    display: block;
    padding: 0.5em;
    position: absolute;
    top: 3.5em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    text-align: center;
}

.searchNumResults {
    font-style: italic;
    margin-left: 0.3em;
    padding-left: 0.6em;
    padding-bottom: 0.6em;
}

.searchMoreResults {
    font-style: italic;
    display: block;
    text-align: center;
    padding: 0.6em;
    border-radius: var(--radius-large);
    color: var(--font-color);
}
.searchMoreResults:hover {
    background-color: var(--bg-color-transparent);
}

.searchResult {
    text-align: left;
    display: inline-block;
    text-align: center;
    border-radius: var(--radius-large);
    overflow: hidden;
    position: relative;
}

@media (max-width: 256px) {
    .searchResult {
        width: 95%;
        margin: 1%;
        height: 14em;
    }
}
@media (min-width: 256px) and (max-width: 512px) {
    .searchResult {
        margin: 1%;
        width: 45%;
        height: 14em;
    }
}
@media (min-width: 512px) and (max-width: 768px) {
    .searchResult {
        margin: 1%;
        width: 30%;
        height: 14em;
    }
}
@media (min-width: 768px) {
    .searchResult {
        margin: 0.45em;
        width: 14em;
        height: 14em;
    }
}

.searchResult:hover {
    background-color: var(--bg-color-hover);
}

.searchResultPreview {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
    background-color: var(--font-color);
    overflow: hidden;
    white-space: nowrap;
    color: var(--bg-color);
}

.searchResultMeta {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1%;
    color: var(--font-color);
    background-color: var(--bg-color-transparent);
}

.searchResultFilename {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0.2em;
    line-break: anywhere;
}

.searchResultModified {
    font-style: italic;
    font-size: 0.8em;
    padding-bottom: 0.3em;
}

.searchResultFolder {
    font-size: small;
    border-radius: var(--radius-large);
    padding: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    display: inline-block;
    position: relative;
    color: var(--accent-1-fg);
    background-color: var(--accent-1-bg);
    line-break: anywhere;
}
