.searchInput {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-left: 2.1em;
    margin: 0.5em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}

.searchUploadButton {
    position: absolute;
    bottom: 1.75em;
    right: 0.25em;
    padding-left: 0.55em;
    padding-top: 0.45em;
    padding-right: 0.55em;
    padding-bottom: 0.25em;
    font-size: 2em;
    fill: var(--color-brand-c);
    background-color: var(--color-brand);
    border-radius: var(--radius-round);
}

.searchUploadButton:hover {
    background-color: var(--color-brand-hover);
}

.searchBottomNavbar {
    width: -webkit-fill-available;
    display: block;
    position: absolute;
    height: 3em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.searchBottomNavbarIcon {
    display: inline-block;
    font-size: 1.8em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    padding-right: 0.2em;
    margin: 0.1em;
    border-radius: var(--radius);
}

.searchBottomNavbarIcon:hover {
    background-color: var(--color-base-hover);
}

.searchResults {
    width: -webkit-fill-available;
    display: block;
    padding: 0.5em;
    position: absolute;
    top: 3.5em;
    bottom: 3em;
    left: 0;
    right: 0;
    overflow-y: scroll;
    text-align: center;
}

.searchNumResults {
    font-style: italic;
    margin-left: 0.3em;
    padding-left: 0.6em;
    padding-bottom: 0.6em;
}

.searchMoreResults {
    font-style: italic;
    display: block;
    text-align: center;
    padding: 0.6em;
    border-radius: var(--radius-large);
    color: var(--color-base-c);
}
.searchMoreResults:hover {
    background-color: var(--color-base-transparent);
}

.searchResult {
    text-align: left;
    display: inline-block;
    text-align: center;
    border-radius: var(--radius-large);
    overflow: hidden;
    position: relative;
    background-color: var(--color-base-hover);
}

.searchResultHover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.searchResultHover:hover {
    background-color: var(--color-base-transparent-2);
}

@media (max-width: 256px) {
    .searchResult {
        width: 95%;
        margin: 1%;
        height: 14em;
    }
}
@media (min-width: 256px) and (max-width: 512px) {
    .searchResult {
        margin: 1%;
        width: 45%;
        height: 14em;
    }
}
@media (min-width: 512px) and (max-width: 768px) {
    .searchResult {
        margin: 1%;
        width: 30%;
        height: 14em;
    }
}
@media (min-width: 768px) {
    .searchResult {
        margin: 0.45em;
        width: 14em;
        height: 14em;
    }
}

.searchResultPreview {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-base-c);
}

.searchResultMeta {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1%;
    color: var(--color-base-c);
    background-color: var(--color-base-transparent);
}

.searchResultFilename {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0.2em;
    line-break: anywhere;
}

.searchResultServer {
    font-size: 0.8em;
    padding-bottom: 0.1em;
}

.searchResultModified {
    font-style: italic;
    font-size: 0.8em;
    padding-bottom: 0.1em;
}

.searchResultFolder {
    font-size: small;
    border-radius: var(--radius-large);
    padding: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    display: inline-block;
    position: relative;
    color: var(--color-brand-c);
    background-color: var(--color-brand);
    line-break: anywhere;
}

.searchResultFlagButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.searchResultFlagButton {
    display: block;
    width: 1.2em;
    height: 1.2em;
    padding-top: 0.2em;
    padding-left: 0.1em;
    padding-bottom: 0em;
    padding-right: 0.1em;
    margin: 0.2em;
    font-size: 1.5em;
    border-radius: var(--radius-round);
    background-color: var(--color-base-transparent);
}

.searchResultFlagButton:hover {
    background-color: var(--color-base);
}

/* Search settings */
.settingsOpen {
    position: absolute;
    left: 0.8em;
    top: 0.8em;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: var(--radius);
    z-index: 1;
}

.settingsOpen:hover {
    background-color: var(--color-base-hover);
}

.settingsCheckbox {
    margin-top: 0.2em;
    padding-bottom: -0.2em;
    margin-bottom: 0.2em;
    display: block;
    height: 2em;
    align-items: center;
}

.settingsCheckbox input {
    width: 1.5em;
    height: 1.5em;
}

.upload label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.upload select,
.upload input {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}

.upload select:hover,
.upload input:hover {
    background-color: var(--color-base-hover);
}

.upload .fileInput {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-top: 4em;
    padding-bottom: 4em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}
.upload .fileInput:hover {
    background-color: var(--color-base-hover);
}

.upload .fileInput::file-selector-button {
    background-color: inherit;
    border: 0px solid;
    font-weight: bold;
}
