.settingsToggle {
    position: absolute;
    left: 0.8em;
    top: 0.8em;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: var(--radius);
    z-index: 100;
}

.settingsToggle:hover {
    background-color: var(--bg-color-hover);
}

.settingsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000BB;
}

.settingsOverlayContent {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: var(--radius);
    background-color: var(--bg-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.settingsTitle {
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: xx-large;
    font-weight: bold;
}

.settingsSubtitle {
    display: block;
    padding-top: 1em;
    font-size: large;
    font-weight: bold;
}

.settingsCheckbox {
    margin-top: 0.2em;
    padding-bottom: -0.2em;
    margin-bottom: 0.2em;
    display: block;
    height: 2em;
    align-items: center;
}

.settingsCheckbox input {
    width: 1.5em;
    height: 1.5em;
}
