.editPage {
    width: 100%;
    height: 100%;
}

.editIFrame {
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px;
    width: 100%;
    height: 100%;
}

.editImageBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.editImageView {
    background-color: black;
}

.editTextOutput {
    overflow: auto;
    width: 96%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.editTextOutput h1 {
    border-bottom: 1px solid var(--font-color);
}

.editTextOutput h2 {
    border-bottom: 1px solid var(--bg-color-hover);
}

.editTextOutput img {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--radius-large);
}

.editTextOutput blockquote {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em;
    background-color: var(--bg-color-hover);
    border-left: 4px solid var(--accent-1-bg);
    border-radius: var(--radius);
}
