.filetree {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.filetreeSettingsButton {
    position: absolute;
    left: 0.8em;
    top: 0.8em;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: var(--radius);
    z-index: 1;
}

.filetreeSettingsButton:hover {
    background-color: var(--color-base-hover);
}

.filetreeSearch {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-left: 2.1em;
    margin: 0.5em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base-2);
}

.filetreeEntries {
    width: 100%;
    height: -webkit-fill-available;
    display: block;
    overflow-y: auto;
    text-align: center;
}

.filetreeOfflineStatus {
    display: block;
    font-style: italic;
    height: 1em;
    padding: 0.2em;
}

.filetreeRoot {
    display: block;
    text-align: left;
}

.filetreeServerIcon::before {
    content: "☁️";
    margin-right: 0.2em;
}

.filetreeFolderIcon::before {
    content: "📁";
    margin-right: 0.2em;
}

.filetreeFileIcon::before {
    content: "📄";
    margin-right: 0.2em;
}

.filetreeRoot, .filetreeRoot ul {
    list-style-type: none;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

.fileTreeFolder ul {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--color-base-hover);
}

.fileTreeFolder ul:hover {
  border-left-color: var(--color-base-hover-2);
}

.fileTreeElementTitle {
    display: block;
    padding: 0.3em;
    cursor: pointer;
    color: var(--color-base-c);
}

@media (max-width: 768px) {
    .fileTreeElementTitle {
        font-size: large;
        padding: 0.6em;
    }
}

.fileTreeElementTitle:hover {
    border-radius: var(--radius);
    background-color: var(--color-base-hover);
}

.fileTreeElementSettings {
    cursor: pointer;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    border-radius: var(--radius);
    fill: var(--color-base-transparent-2);
}
@media (max-width: 768px) {
    .fileTreeElementSettings {
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 0.4em;
        padding-top: 0.8em;
        padding-bottom: 0.5em;
    }
}

.fileTreeElementSettings:hover {
    border-radius: var(--radius);
    background-color: var(--color-base-transparent-2);
}

.filetreeElementMenu {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: var(--color-base-hover);
    border-radius: var(--radius);
    box-shadow: 0 4px 8px var(--color-shadow-color);
    z-index: 1000; /* Ensure it stays above other elements */
    list-style-type: none;
    padding: 0.1em;
    margin: 0;
}

.filetreeElementMenuButton {
    display: block;
    padding: 0.45em 0.6em;
    cursor: pointer;
    border-radius: var(--radius);
}

.filetreeElementMenuButton:hover {
    background-color: var(--color-base-transparent-2);
}