.searchResult {
    display: block;
    text-align: left;
    padding: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--radius);
}


.searchResult:hover {
    background-color: var(--color-base-hover);
}

.searchResultInfo {
    font-size: small;
    color: var(--color-contrast-gray);
}