.filetree {
    width: 100%;
    height: 100%;
}

.filetreeSettingsButton {
    position: absolute;
    left: 0.8em;
    top: 0.8em;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: var(--radius);
    z-index: 1;
}

.filetreeSettingsButton:hover {
    background-color: var(--color-base-hover);
}

.filetreeSearch {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-left: 2.1em;
    margin: 0.5em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base-2);
}

.filetreeEntries {
    width: 100%;
    height: -webkit-fill-available;
    display: block;
    overflow-y: auto;
    text-align: center;
}

.filetreeOfflineStatus {
    display: block;
    font-style: italic;
    height: 1em;
    padding: 0.2em;
}
