.upload label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.upload select,
.upload input {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}

.upload select:hover,
.upload input:hover {
    background-color: var(--color-base-hover);
}

.upload .fileInput {
    font-size: large;
    width: -webkit-fill-available;
    padding: 0.45em;
    padding-top: 4em;
    padding-bottom: 4em;
    border: 2px solid var(--color-base-c);
    border-radius: var(--radius);
    color: var(--color-base-c);
    background-color: var(--color-base);
}
.upload .fileInput:hover {
    background-color: var(--color-base-hover);
}

.upload .fileInput::file-selector-button {
    background-color: inherit;
    border: 0px solid;
    font-weight: bold;
}
