#app {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.buttonWide {
  width: -webkit-fill-available;
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  color: var(--color-brand-c);
  fill: var(--color-brand-c);
  background-color: var(--color-brand);
  border-radius: 0.2em;
}

.buttonWide:hover {
  background-color: var(--color-brand-hover);
}

.buttonNarrow {
  width: 30%;
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em;
  color: var(--color-brand-c);
  background-color: var(--color-brand);
  border-radius: 0.2em;
}

.buttonNarrow:hover {
  background-color: var(--color-brand-hover);
}
